*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  /* text-shadow: 1px 1px 1px rgba(0,0,0,0.004); */
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  min-width: 950px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
